.identacao{
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    justify-content: center;
}
.tituloHistorico{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 420px) {
    .identacao{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
  }