body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{margin: 0; padding: 0;}

/* Estilizando a scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra vertical */
  height: 8px; /* Altura da barra horizontal */
}

/* Fundo da scrollbar */
::-webkit-scrollbar-track {
  background: var(--background-color); /* Cor de fundo do track */
}

/* Cor da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: var(--color); /* Cor da barra */
}

/* Cor da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-hover); /* Cor ao passar o mouse */
}

